h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: -2%;
}

#GameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: solid;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1px;
    margin: 30px auto;
    background-color: black;
}

.Cell {
    height: 100px;
    width: 100px;

    font-size: 3.5rem;
    font-weight: 700;
    font-family: 'Segoe UI', "Arial", sans-serif;

    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;

    cursor: pointer;
    font-size: xx-large;
    font-weight: bold;

    border: 1px solid #333;
    background-color: white;
}

section {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

body
{
    font-family: "Times New Roman", Times, serif;
    background-color: lightgoldenrodyellow;
}

#ResetButtonContainer {
    align-items: center;
    text-align: center;
}

#ResetButton, #ClearBoard, #ResetScores {
    height: 50px;
    width: 190px;
    border: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;
    background-color: white;
    transition: background-color 0.3s;
}


#GameStatus {
    text-align: center;
    align-items: center;
}

.Cell:disabled {
    cursor: default;
    opacity: 1;
    background-color: white;
    color: black;
}

#XScoreSection {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightcoral;
    width: 285px;
}

#OScoreSection {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightblue;
    width: 285px;
}

#CurrentTurn {
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    background-color: lightgreen;
    width: 570px;
}

#CurrentTurnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#CurrentTurnContainer {
    font-weight: bold;
}

#GameScores {
    display: grid;
    grid-template-columns: auto auto;
    font-weight: bold;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#WinnerDisplay {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;
}

#ResetButton:hover, #ClearBoard:hover, #ResetScores:hover {
    background-color: lightgrey;
}
