h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#GameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: solid;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1px;
    margin: 30px auto;
    background-color: black;
}

.Cell {
    height: 100px;
    width: 100px;

    font-size: 3.5rem;
    font-weight: 700;
    font-family: 'Segoe UI', "Arial", sans-serif;

    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;

    cursor: pointer;
    font-size: xx-large;
    font-weight: bold;

    border: 1px solid #333;
}

section {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

body
{
    font-family: "Times New Roman", Times, serif;
}

#ResetButtonContainer {
    align-items: center;
    text-align: center;
}

#ResetButton {
    height: 50px;
    width: 150px;
    border: 1px solid;
    background-color: lightgrey;
    cursor: pointer;
}

#GameStatus {
    text-align: center;
    align-items: center;
}

.Cell:disabled {
    cursor: default;
    opacity: 1;
    background-color: white;
    color: black;
}